.search-form {
  display: flex;
  display: -webkit-flex;
  margin-left: 100px;
}
.search-keyword {
  height: 36px;
  border: 1px solid green;
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  width: 100%;
  max-width: 330px;
}

.search-button {
  border-radius: 0 2px 2px 0;
  background: green
    url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png)
    center no-repeat;
  width: 96px;
}

footer {
  color: lightgray;
  font-size: 14px;
  text-align: center;
  padding: 32px;
  background: darkgray;
}
strong {
  color: lightgray;
}

.home-page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home-page .name {
  font-size: 20px;
  font-weight: bold;
}

.home {
  display: flex;
  flex: 1;
  flex-direction: row;
}
